*{
    padding: 0;
    margin:0;
    border:0;
  }
  *,*:before,*:after{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
  }
  :focus,:active{outline:none;}
  a:focus,a:active{outline:none;}
  nav,footer,header,aside,section{display:block;}
  html,body{
    height:100%;
    width:100%;
    font-size:100%;
    line-height:1;
    font-size:14px;
    -ms-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
  }
  input,button,textarea{font-family:inherit;}
  input::-ms-clear{display:none;}
  button{cursor:pointer;}
  button::-moz-focus-inner{padding:0; border:0;}
  a,a:visited{text-decoration: none;}
  a:hover{text-decoration: none;}
  ul li{list-style: none;}
  img{vertical-align: top;}
  h1, h2, h3, h4, h5, h6{font-size:inherit; font-weight: 400;}
  
  body{
    font-family: 'Montserrat', sans-serif;
  }

  .container {
    width: 900px;
    margin: 100px auto;
}

.title {
    font-size: 20px;
    padding: 10px 0;
}

.products-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}


.product-image {
    width: 200px;
    height: 150px;
    object-fit: cover;
}

.product-info {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}


.product-price {
    font-weight: bold;
}

.header-container {
    margin: 0 auto;
    background-color:rgba(0,0,0,0.6);
}

.menu {
    width: 900px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    height: 50px;
    align-items: center;
}

.menu-item a {
    color: #3FD0BC;
}

.menu-item a:hover {
    font-weight:bold;
}

p {
    margin-bottom: 40px;
}